// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mainTitle{
    text-align: center;
}

.articleContent{
    margin-left: 25px;
}

.articleTitle{
    color: #92CD00;
}

