// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.message {
    border-style: solid;
    border-color: #C0C0C0;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color: #C0C0C0;
    margin-left: 25px;
    margin-right: 500px;
}
