
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Hire me startups!</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <!-- Le styles -->
        <link href="../assets/css/bootstrap.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Le fav and touch icons -->
        <link rel="shortcut icon" href="../assets/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">
        <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>

    </head>

    <body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Hire Me!</a>
<!--  will put this into database eventually-->
                    <div class="nav-collapse">
                        <ul class="nav">
                            <li class="active"><a href="#">Home</a></li>
                            <li><a href="#blog">Blog</a></li>
                            <li><a href="../files/resume.pdf">Download Resume</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="row-flud">
            <div class = "span6 offset1">
                <h1>Hire Sas to Work For Your Startup!!!</h1>
                <p> Hi, my name is Sas Ponnapalli. I am currently a senior at the University of Illinois and I am 
                hungry to take my talents to the startup world. My path to getting involved in startups is a pretty strange one.
                I started out as a Bioengineer, looking to change the world through medicine and technology. Having a programming
                background and being the son of two computer scientists, technology always played a big part in my life. 
                </br>
                </br>

                Why I feel like I would be a great fit for a startup:
                <ul>
                    <li> Versatility: I don't just mean versatility in the fact I majored in a completely different field, but rather the fact
                    that I have experience programming in many different web and mobile languages and frameworks, including Java/Android, Python/Django, 
                    Ruby. In addition, I have built a variety of applications, from a cancer-diagnosing tool to a Real-Time music playlist engine. 
                    I feel that this type of versatility is essential in a startup.</li>
                </br>
                    <li> Self-Starter: People always ask me, "You're a bioengineer, why are you so interested in programming?". To this
                    I am the type of person who really isn't satisfied using other people's software to solve my problems. I like to customize everything I own
                    from the stereo and speakers in my car to the hardware on my phone. I have this same mentality when I use software. Using someone else's licensed
                    software seems foreign to me. I truly believe that I can only fully understand a product if I played a big role in its development.  
                    </li>
                </br>
                <li> Vision: I truly feel that I am a finisher in that I treat the last 5 minutes of a project the same way I treat the first 5. With this mentality, 
                    I feel as if I am really ready to do some great things. Time truly is a terrible thing to waste and while I am young and hungry, I want to 
                    honestly say that I made a difference in the world.   
                </li>
                </UL>
                </br>
                </p>
                <button  onclick= "window.location ='mailto:sponnapa@gmail.com?subject=I totally want to hire you!&amp'">
                    <img src = "../images/gmail.png" width = "20" height = "20"/>
                </button>
                <button  onclick= "window.location ='www.facebook.com/sponnapa'">
                    <img src = "../images/facebook.png" width = "20" height = "20"/>
                </button>
                <button  onclick= "window.location ='www.linkedin.com/in/sponnapa'">
                    <img src = "../images/linkedin.png" width = "20" height = "20"/>
                </button>
            </div>
            <div class = "span4">
                <script language = "javascript" src = "twitterWidget.js"></script>
            </div>
        </div> <!-- /container -->

        </br>
        </br>
        </br>
        </br>



        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="../assets/js/jquery.js"></script>
        <script src="../assets/js/bootstrap-transition.js"></script>
        <script src="../assets/js/bootstrap-alert.js"></script>
        <script src="../assets/js/bootstrap-modal.js"></script>
        <script src="../assets/js/bootstrap-dropdown.js"></script>
        <script src="../assets/js/bootstrap-scrollspy.js"></script>
        <script src="../assets/js/bootstrap-tab.js"></script>
        <script src="../assets/js/bootstrap-tooltip.js"></script>
        <script src="../assets/js/bootstrap-popover.js"></script>
        <script src="../assets/js/bootstrap-button.js"></script>
        <script src="../assets/js/bootstrap-collapse.js"></script>
        <script src="../assets/js/bootstrap-carousel.js"></script>
        <script src="../assets/js/bootstrap-typeahead.js"></script>

    </body>
</html>

